<!DOCTYPE HTML>
<html>
    <head>
        <title> <%=title%> </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <scrip></scrip>
    </head>
    <body>
        <div class="form-horizontal col-xs-10 col-md-offset-4">
            <h1>WELCOME</h1><br>
            <%if(!isAuthenticated) {%>
            <a class="btn btn-success" href="/login">Login here</a>
            <a class="btn btn-success" href="/register">Register here</a>
            <%} else {%>
            <div class = "col-xs-4 ">
                <h5>Hello <%=user.fullName%> </h5>
                <a class="btn btn-success col-md-offset-3" href="/logout">Log out</a><br>
                <a class="btn btn-success" href="/friend">Add new friend</a>
                <a class="btn btn-success" href="/mail">write new mail</a>
            </div>
            <%}%>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
